@*@model IEnumerable<ToDoList.ViewModel.PriorityTypeViewModel>*@
@model ToDoList.ViewModel.PriorityTypeViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="./Todo/Update" method="put">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="ToDo.Title" id="ToDo.title" aria-describedby="titleHelp" placeholder="@Model.Todo.Title">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>

    <div class="form-group">
        <label for="title">Date</label>
        <input type="text" class="form-control" name="ToDo.Date" id="ToDo.Date" aria-describedby="DateHelp" placeholder="@Model.Todo.Date">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>

    <div class="form-group">
        <label for="PriorityTypeId">Priority</label>
        <select name="ToDo.PriorityTypeId" class="form-control" id="PriorityTypeId">
            @foreach (var type in Model.PriorityType)
            {
            <option value="@type.Id">@Model.Todo.PriorityType.Name</option>

            }

        </select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="ToDo.Description" id="description" aria-describedby="descriptionHelp" placeholder="@Model.Todo.Description">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-check">
        <label>
            <input type="checkbox" id="ToDo.IsDone" name="ToDo.IsDone" value="@Model.Todo.IsDone">Done
        </label>
    </div>
    @Html.HiddenFor(t => t.Todo.Id)

    <button type="submit" class="btn btn-primary">Save</button>
</form>