@*@model IEnumerable<ToDoList.ViewModel.PriorityTypeViewModel>*@
@model ToDoList.ViewModel.PriorityTypeViewModel
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

<form action="~/ToDo/Update" method="post">

    <div class="form-group">
        <label for="ToDo.title">Title</label>
        <input type="text" class="form-control" name=Todo.Title" id="ToDo.title" aria-describedby="titleHelp" placeholder="@Model.Todo.Title">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>

    <div class="form-group">
        <label for="ToDo.Date">Date</label>
        <input type="text" class="form-control" name="Todo.Date" id="ToDo.Date" aria-describedby="DateHelp" placeholder="@Model.Todo.Date">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>

    <div class="form-group">
        <label for="PriorityTypeId">Priority</label>
        <select name="Todo.PriorityTypeId" class="form-control" id="PriorityTypeId">
            @foreach (var type in Model.PriorityType)
            {
                <option value="@type.Id">@type.Name</option>

            }

        </select>
    </div>

    <div class="form-group">
        <label for="description">Description</label>
        <input type="text" class="form-control" name="Todo.Description" id="description" aria-describedby="descriptionHelp" placeholder="@Model.Todo.Description">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    @*<div class="form-check">
        <label>
            <input type="checkbox" id="ToDo.IsDone" name="Todo.IsDone" value="true">Done
        </label>
    </div>*@
    <div class="form-check">
        <input type="checkbox" name="ToDo.IsDone" value="true" class="form-check-input" id="IsDone">
        <label class="form-check-label" for="Isdone">IsDone?</label>
    </div>
    @Html.HiddenFor(t => t.Todo.Id)

    <button type="submit" class="btn btn-primary">Save</button>
</form>